[core]
  editor = nvim
	excludesfile = /Users/ajesler/.gitignore_global
  # pager = diff-so-fancy | less --tabs=4 -RFX

# [pager]
#   diff = diff-so-fancy | less
#   log = diff-highlight | less
#   show = diff-highlight | less


[color]
  branch = auto
  diff = auto
  status = auto
	ui = true

[pretty]
  olpc = "%C(green)%h %C(yellow)[%ad]%Cred%d %Creset%s%C(cyan) [%aN]%Creset"
  olpcnc = "%h [%ad]%d %s [%aN]"

[alias]
  la = "!git config -l | grep alias | cut -c 7-" # list aliases

  # log
  ls = log --format=olpc --decorate --date=relative
  ld = log --format=olpc --decorate --date=relative --stat -p
  lf = log --format=olpc --decorate --date=relative --stat
  lfn = log --format=olpc --decorate --date=relative --name-only

  # diff
  ds = diff --staged

  # commit
  cv = commit -v

  # branch
  branchname = rev-parse --abbrev-ref HEAD
  track = "!f() { BRANCH=$(git branchname); git branch --set-upstream-to=origin/${BRANCH}; }; f"
  cpbn = "!f() { git branchname | pbcopy; }; f"
  commitlog = "!f() { BRANCH=$(git rev-parse --abbrev-ref HEAD); git log --format=\"[${BRANCH} %h] %s\" --date=short --reverse $1; }; f"

[push]
  default = simple

[pull]
  ff = only

[merge]
  stat = true
  ff = false
  log = true

[diff]
  mnemonicprefix = true
  renames = copies
  renameslimit = 0
	compactionHeuristic = true

[branch]
  autosetupmerge = true

[advice]
  pushNonFastForward = false

[user]
	name = ajesler

[github]
  user = ajesler

[include]
  path = ~/.gitconfig_local
[commit]
	verbose = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = 34 bold
	newHighlight = 34 bold 22
[color "diff"]
	meta = 227
	frag = magenta bold
	commit = 227 bold
	old = red bold
	new = 34 bold
	whitespace = red reverse
